# Ignore these directories
.git/
.gradle/
.idea/
app/
build/
node_modules/

# Ignore these file types
*.md
*.kt
*.kts
*.java
*.xml
.DS_Store

# Keep server files for Docker build
!server/
!cloudbuild.yaml
!Dockerfile